@import "variable.scss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap');


html{
	margin: 0;
    padding: 0;
    height: 100%;
}
body{
    height: 100%;
    font-family: 'Manrope', sans-serif !important;
    font-size: 14px;
    color: #252525;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
    position: relative;
    background-color: #F2F2F2;
    font-weight: bold;
}
#app{
    font-family: 'Manrope', sans-serif !important;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
a{
	color: rgba(37 57 112 / 1);
	text-decoration: none;
}
a:hover, a:focus{
    color: rgba(51 157 255 / 1);
	text-decoration: none;
}
a, abbr, acronym, address, applet, b, big, blockquote, body, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, tt, u, ul, var {
    padding: 0;
    margin: 0;
}

.el-header{
    background-color: rgb(72, 111, 194);
    color:white;
    align-items: center;
    // padding: 18px;
    .header-left-text{
        float: left;
        padding-top: 18px;
    }
    .header-right-button{
        float: right;
        background-color: rgb(72, 111, 194);
        border: none;
        color: white;
        font-size: 20px;
        padding-top: 20px;
    }
}

.el-footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(72, 111, 194);
   color: white;
   text-align: center;
}