<template>
 <el-container>
  <el-header>
    <span class="header-left-text">
        Та төлбөрын дүнг оруулна уу
    </span>
    <el-button class="header-right-button" icon="el-icon-menu"></el-button>
  </el-header>
  <el-main>
      <router-view />
</el-main>
    <el-footer>Footer</el-footer>
</el-container>
</template>
<script>

export default {
  components: {
  },
  data () {
    return {
    }
  },
  created () {
  },
  methods: {
  }
}

</script>
<style scoped>
</style>
