<template>
  <div>
    <div class="m-t-20">
      <h1>Төлбөрийн хэлбэр сонгоно уу</h1>
      <el-row class="m-t-40">
        <el-col :span="23">
          <el-radio-group v-model="payment_type">
            <el-row :gutter="30">
              <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                <el-radio-button label="1">Картаар</el-radio-button>
              </el-col>
              <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                <el-radio-button label="2">Бэлэн</el-radio-button>
              </el-col>
              <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
                <el-radio-button label="3">Хосолсон</el-radio-button>
              </el-col>
            </el-row>
          </el-radio-group>
        </el-col>
      </el-row>
    </div>
    <el-row class="m-t-60" v-if="this.payment_type == 1 || this.payment_type == 3">
      <h1>
        Картаар төлөх үнийн дүнг оруулна уу</h1>
      <el-col :span="19" :offset="2" class="m-t-40">
        <v-money-spinner class="number_currency_input" v-model="cart_amount" v-bind="config"></v-money-spinner>
      </el-col>
    </el-row>
    <el-row class="m-t-60" v-if="this.payment_type == 2 || this.payment_type == 3">
      <h1>
       Бэлэн төлөх үнийн дүнг оруулна уу</h1>
      <el-col :span="19" :offset="2" class="m-t-40">
        <v-money-spinner class="number_currency_input" v-model="cash_amount" v-bind="config"></v-money-spinner>
      </el-col>
    </el-row>
    <div class="payment_success_button">
        <el-button class="w-90 m-r-30" type="primary">Гүйлгээ хийх ({{this.totalAmount()}} ₮)</el-button>
        <a href="intent://com.facebook.android#Intent;action=com.facebook.android.ACTION_VIEW;end">Link to my stuff</a>
    </div>
  </div>
</template>

<script>
export default {
  components: {},
  data () {
    return {
      cash_amount: '',
      cart_amount: '',
      payment_type: '1',
      amount: 0,
      config: {
        spinner: false,
        step: 10,
        min: -10,
        max: 200,
        prefix: '₮ ',
        suffix: '',
        precision: 2,
        decimal: '.',
        thousands: ',',
        template: 'bootstrap',
        masked: true,
        disableNegative: false,
        align: 'center'
      }
    }
  },
  watch: {
    payment_type () {
      this.cash_amount = ''
      this.cart_amount = ''
    }
  },
  methods: {
    totalAmount () {
      if (this.cart_amount !== '' && this.cash_amount === '') {
        return parseFloat((this.cart_amount.replace(',', '')).split(' ')[1])
      } else if (this.cash_amount !== '' && this.cart_amount === '') {
        return parseFloat((this.cash_amount.replace(',', '')).split(' ')[1])
      } else if (this.cash_amount !== '' && this.cart_amount !== '') {
        return parseFloat((this.cash_amount.replace(',', '')).split(' ')[1]) + parseFloat((this.cart_amount.replace(',', '')).split(' ')[1])
      } else {
        return 0
      }
    }
  }
}

</script>

<style lang="scss">
  .number_currency_input {
    input {
      color: black !important;
      // font-weight: bold;
      font-size: 20px;
      width: 100%;
      padding: 10px;
      border-style: solid;
      border-radius: 10px;
      border-color: gray;

    }
  }
.el-radio-button .is-active{

}
  .el-radio-button__inner {
    min-width:100px;
  }
  .payment_success_button{
      bottom: 100px;
      position: fixed;
      width: 100%;
  }

</style>
